*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: rgba(18, 12, 22, 1.0);
    color: #fff;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 4rem;
}

.navbar a:hover, 
.navbar a.active{
    color: #0ef;
}

#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home img{
    width: 35vw;
    border-radius: 100%;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h4{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
span{
    color: #0ef;
}
.home-content p{
    font-size: 1.5rem;
    margin-bottom: 2.2rem;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #0ef;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0ef;
    font-size: 1.6rem;
    color: #323946;
    letter-spacing: .1rem;
    font-weight: 400;
}
.btn:hover{
    box-shadow: none;
}

.about{

    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    background: #323946;
}
.about img{
    width: 25vw;
    border-radius: 100%;
    box-shadow: 0 0 3rem #0ef;
    border: 0.8rem solid #fff;
}
.about-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}
.about-content h2{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.about-content p{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.tab-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-buttons button{
    font-size: 2rem;
    color: #323946;
    margin-left: 5rem;
    background: #0ef;
    display: inline-block;
    width: 25rem;    
    height: 4rem;  
    text-align: center;           
    line-height: center;
    padding: 1rem 2.8rem;
    border-radius: 5rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
}
.tab-buttons button:hover, 
.tab-buttons button.active{
    box-shadow: 0 0 1rem #0ef;
    background: rgb(31, 205, 228);
}

.profile-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}
.profile-box h2{
    font-size: 4.5rem;
}
.profile-box p{
    font-size: 1.7rem;
    margin: 2rem 0 2.5rem;
}
.profile-btn{
    width: 100%;
    height: 5.3rem;
    background: #323946;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}
.profile-box .profile-btn.active{
    border: .2rem solid #0ef;
    color: #0ef;
}
.profile-details{
    display: none;
}
.profile-details.active{
    display: block;
}
.profile-box .heading{
    font-size: 3.5rem;
    text-align: left;
}
.profile-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}
.profile-list .profile-item{
    background-color: #323946;
    border-radius: .8rem;
    padding: 2rem 2rem;
    height: calc((45rem - 2rem)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
}
.profile-item .year{
    color: #0ef;
}
.profile-item h4{
    font-size: 2.2rem;
}
.profile-item .place{
    position: relative;
    margin-left: 2rem;
    margin-bottom: .1rem;
}
.profile-item .place::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: #0ef;
    border-radius: 50%;
    margin-left: -2rem;
}
.profile-details.skills h3{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #0ef;
}
.profile-details.skills .profile-list{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}
.profile-details.skills .profile-item{
    position: relative;
    align-items: center;
    height: auto;
}
.profile-details.skills .profile-item i{
    font-size: 8.5rem;
    transition: .5s;
}
.profile-details.skills .profile-item:hover{
    color: #0ef;
}
.profile-details.skills .profile-item span{
    position: absolute;
    top: -20%;
    background: #fff;
    color: #1f242d;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: 0.6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: 0.2s;
}
.profile-details.skills .profile-item:hover span{
    top: -25%;
    opacity: 1;
    transform: scale();
}
.projects{
    background: #323946;
}
.projects h1{
    line-height: 2;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: rgba(10, 214, 241, 0.1);
    
}
.projects-box img{
    width: 100%;
}
.heading{
    text-align: center;
    font-size: 4.6rem;
    margin-bottom: 3rem;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 2rem;
}
.contact-box1{
    margin-top: 2rem;
}
.cantact-box{
    background: rgba(21, 211, 236, 0.1);;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border-radius: .8rem;
    line-height: 2;
    text-align: left;
}
.contact-box1 h3{
    font-size: 2rem;
}
.contact-box1 i{
    margin-right: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    font-size: 2rem;
    color: #0ef;
}
.contact-box1 p{
    font-size: 1.5rem;
}
.contact-box1 a{
    color: #fff;
}
.contact-box1 a:hover{
    color: #0ef;
}
.contact-box2{
    max-width: 70rem;
    margin: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    background: rgba(21, 211, 236, 0.1);
    border-radius: 0.8rem;
    padding: 2rem 1rem;
}
.input-box input,textarea{
    background: transparent;
    font-size: 1.6rem;
    color: #fff;
    background: #323946;
    margin: 0.7rem 0.25rem;
    border-radius: 0.8rem;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    padding: 1.5rem;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f242d;
    flex-wrap: wrap;
    padding: 3rem 9%;
}
.footer p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    font-size: 2rem;
    color: #0ef;
    margin: 0.5rem 2rem 0.5rem 0;
}
.social-media a:hover{
    box-shadow: 0 0 1rem #0ef;
}



